/* 전체 컨테이너 */
.scheduleContainer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.filterContainer {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

.filterButton {
    background-color: #F8FAFB;
    width: 100px;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
}

/* 날짜 섹션 */
.daySection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

/* 날짜 제목 스타일 */
.dateTitle {
    font-size: 23px;
    font-weight: bold;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 15px;
}

/* 매치 카드 컨테이너 */
.schedules {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}

/* 매치 카드 */
.scheduleCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(30% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.scheduleCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* 매치 카드 텍스트 */
.matchLocation {
    margin: 3px 0;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.matchDetails {
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    color: black;
    text-align: left;
}

.matchTime p {
    margin: 2px 0;
    font-size: 17px;
    text-align: left;
}
  
/* 지역 선택 모달 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    align-items: flex-start;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.regionList {
    width: 100%;
    max-width: 300px;
    height: 60px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

.closeButton {
    position: absolute;
    top: 10px;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.noSchedule {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}