/* MatchResultPage.module.css */

.container {
    display: flex;
    height: 100vh;
    /* 전체 뷰포트 높이 */
    font-family: 'Arial', sans-serif;
}

.tabBar {
    width: 200px;
    /* 너비 조정 */
    background-color: #000;
    /* 배경색을 검정색으로 설정 */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* 좌측 정렬 */
    padding: 20px;
}

.tab {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    /* 폰트 크기 조정 */
    width: 100%;
    text-align: left;
    border-left: 5px solid transparent;
    /* 선택되지 않은 탭은 투명 경계선 */
    box-sizing: border-box;
}

.tab:hover,
.tab.active {
    /* 활성 탭 및 호버 스타일 */
    background-color: #333;
    /* 호버 및 활성 탭 배경 */
    border-left: 5px solid #007bff;
    /* 파란색 경계선 */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    overflow-y: auto;
    /* 내용이 많을 경우 스크롤 */
}

input[type="number"],
button {
    width: 200px;
    /* 너비 지정 */
    padding: 8px;
    margin-bottom: 10px;
    /* 마진 설정 */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}