.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 투명도 */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  z-index: 1000; /* 모달이 다른 요소 위에 표시되도록 */
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px; /* 모달 최대 너비 */
}

  
  .vestsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .vest {
    margin: 0 10px;
    width: 40px;
    height: auto;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .gridItem {
    text-align: center;
  }
  
  .feedbackOptions {
    margin: 20px 0;
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkboxContainer input {
    margin-right: 10px;
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  